<template>
  <main class="container">
    <SearchBar />
    <MoviePanel />
  </main>
</template>

<script>
import SearchBar from '../components/SearchBar.vue';
import MoviePanel from '../components/MoviePanel.vue';

export default {
  name: 'Home',
  components: {
    MoviePanel,
    SearchBar,
  },
};
</script>

<style>
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 4rem;
}
</style>