<template>
  <section v-if="movie" class="content">
    <div class="info">
      <img
        :src="movie.Poster === 'N/A' ? noImage : movie.Poster"
        class="info-poster"
        :alt="movie.Title"
      />
      <h1 class="title movie-title">{{ movie.Title }}</h1>

      <div class="details">
        <ul class="details-items">
          <li><span class="bold">Year:</span> {{ movie.Year }}</li>
          <li><span class="bold">Rated:</span> {{ movie.Rated }}</li>
          <li><span class="bold">Released:</span> {{ movie.Released }}</li>
          <li><span class="bold">Runtime:</span> {{ movie.Runtime }}</li>
          <li><span class="bold">Genre:</span> {{ movie.Genre }}</li>
          <li><span class="bold">Director:</span> {{ movie.Director }}</li>
          <li><span class="bold">Writer:</span> {{ movie.Writer }}</li>
          <li><span class="bold">Actors:</span> {{ movie.Actors }}</li>
        </ul>
      </div>

      <div class="storyline">
        <h2 class="title">Storyline</h2>
        <p>{{ movie.Plot }}</p>
      </div>

      <router-link class="btn-back" type="button" to="/">
        Inicio
      </router-link>
    </div>
  </section>
</template>

<script>
import { onMounted, ref } from 'vue';
import { useRoute } from 'vue-router';
import { getOneMovie } from '../utils/api';
import noImage from '@/assets/no_image_placeholder.jpg';

export default {
  name: 'Movie',

  setup() {
    const movie = ref({});
    const route = useRoute();

    onMounted(async () => {
      const { movieId } = route.params;
      movie.value = await getOneMovie(movieId);
    });

    return { movie, noImage };
  },
};
</script>

<style scoped>
.bold {
  font-weight: 700;
}

.content {
  padding: 5em 1em;
  display: flex;
  justify-content: center;
  justify-items: center;
  background-color: #758ecd;
}

.info {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #eee;
}

.info-poster {
  position: relative;
  top: -3em;
  width: 100%;
  height: 460px;
  width: 280px;
  border-radius: 5px;
  object-fit: cover;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.btn-back {
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.1rem;
  background-color: #1acbaa;
  outline: none;
  border: none;
  width: 6rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1em;
  padding-top: 0.5em;
  cursor: pointer;
}
</style>
