<template>
  <div v-if="movies" class="card-grid">
    <MovieCard
      v-for="movie in movies.Search"
      :key="movie.imdbID"
      :cardData="movie"
    />
  </div>
  <NotFound v-else />
</template>

<script>
import { slugConvert } from '../utils/slugConvert';
import { getAllMovies } from '../utils/api';
import MovieCard from './MovieCard.vue';
import NotFound from './NotFound.vue';

export default {
  name: 'MoviePanel',

  components: {
    MovieCard,
    NotFound,
  },

  data: function () {
    return {
      movies: null,
    };
  },

  watch: {
    '$route.query.search': {
      immediate: true,
      handler(searchQuery) {
        if (searchQuery) {
          getAllMovies(slugConvert(searchQuery)).then(
            (value) => (this.movies = value)
          );
        }
      },
    },
  },
};
</script>

<style>
.card-grid {
  width: 80%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}
</style>
