<template>
  <router-link
    class="card"
    :to="{ name: 'movie', params: { movieId: cardData.imdbID } }"
  >
    <img
      class="card__image"
      :src="cardData.Poster === 'N/A' ? noImage : cardData.Poster"
      :alt="cardData.Title"
    />
    <div class="card__content">
      <h2 class="card__title" :title="cardData.Title">{{ cardData.Title }}</h2>
      <p class="card__year">{{ cardData.Year }}</p>
    </div>
  </router-link>
</template>

<script>
import noImage from '@/assets/no_image_placeholder.jpg';

export default {
  name: 'MoviePanel',

  props: {
    cardData: Object,
  },

  data() {
    return {
      noImage,
    };
  },
};
</script>

<style>
.card {
  max-width: 240px;
  display: block;
  position: relative;
  margin-bottom: 2em;
  border-radius: 0.8rem;
  overflow: hidden;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}

.card__image {
  width: 100%;
  height: 360px;
  width: 240px;
  object-fit: cover;
}

.card__content {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  padding: 6rem 2rem 0 2rem;
  background: linear-gradient(
    hsl(0 0% 0% / 0),
    hsl(20 0% 50% / 0.3) 20%,
    hsl(0 0% 0% / 1)
  );
}

.card__title {
  font-size: 1rem;
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__year {
  font-size: 0.8rem;
}

.card:hover {
  transform: scale(1.05) translateZ(0);
  transition: transform 0.5s ease-out;
}
</style>
