<template>
  <div class="not-found">
    <h2 class="not-found__title">{{ bannerData.msg }}</h2>
    <img class="not-found__logo" :src="bannerData.img" alt="banner image" />
  </div>
</template>

<script>
import { computed } from 'vue';
import { useRoute } from 'vue-router';
import sadEmoji from '@/assets/not_found.svg';
import welcome from '@/assets/welcome.svg';

export default {
  name: 'NotFound',

  setup() {
    const route = useRoute();
    const currentPath = computed(() => route.fullPath);
    const badMessage = 'Oh no! Te sumergiste demasiado :(';
    const goodMessage = 'Sumérgete en tus películas favoritas :)';
    const bannerData =
      currentPath.value === '/'
        ? { img: welcome, msg: goodMessage }
        : { img: sadEmoji, msg: badMessage };

    return {
      bannerData,
    };
  },
};
</script>

<style>
.not-found__title {
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.not-found__logo {
  width: 404px;
  height: 404px;
}
</style>
