<template>
  <div class="search">
    <input
      class="search__input"
      placeholder="Qué desea ver hoy?"
      type="search"
      v-model="searchTerm"
      @keyup.enter="searchRedirect()"
    />
    <button class="search__button" type="button" @click="searchRedirect()">
      Buscar
    </button>
  </div>
</template>

<script>
import { ref } from 'vue';
import { router } from '../routes';
import { slugConvert } from '../utils/slugConvert';

export default {
  setup() {
    const searchTerm = ref('');

    const searchRedirect = () => {
      router.push(`?search=${slugConvert(searchTerm.value)}`);
    };

    return {
      searchRedirect,
      searchTerm,
    };
  },
};
</script>

<style>
:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #1acbaa;
  --font-fam: 'Lato', sans-serif;
  --height: 4rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

.search {
  position: relative;
  min-width: 80%;
  background: var(--color-brand);
  border-radius: var(--rad);
  margin-bottom: 2em;
}

.search__input,
button {
  height: var(--height);
  font-family: var(--font-fam);
  border: 0;
  color: var(--color-dark);
  font-size: 1rem;
}

.search__input {
  width: 100%;
  background: var(--color-light);
  padding: 0 1.6rem;
  border-radius: var(--rad);
  appearance: none;
  transition: all var(--dur) var(--bez);
  transition-property: width, border-radius;
  z-index: 1;
  position: relative;
  outline: none;
}

button {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: var(--btn-width);
  font-weight: bold;
  background: var(--color-brand);
  border-radius: 0 var(--rad) var(--rad) 0;
  cursor: pointer;
}

.search__input:not(:placeholder-shown) {
  border-radius: var(--rad) 0 0 var(--rad);
  width: calc(100% - var(--btn-width));
}

.search__input:not(:placeholder-shown) + button {
  display: block;
}
</style>
